<h2>Sign up for your Code Challenge Tracker account </h2>

<form action="signup" method="POST">
<label><h3> Username:</h3></label>
<input type="text" name="username" placeholder="Choose a username">
<br>
<label><h3>Email:</h3></label>
<input type="text" name="email" placeholder="Your email address">
<br>
<label><h3>Password:</h3></label>
<input type="password" name="password" placeholder="Password"
<br>
<input type="submit" id="submit" value="Create your account">
</form>
