<h1>Here are all my challenges</h1>
<%= @current_user.username %>

<% Challenge.all.each do |challenge| %>
    <ol>
    <li><h1> <%= challenge.title %></h1></li>
    <li> <%= challenge.content %></li>
    <% end %>
    