<h1>Challenges Index</h1>

<h3>Welcome, <%= current_user.username %></h3>

<ul>
<% current_user.challenges.each do |challenge| %>
    <li><%= challenge.title %></li>
    <li><%= challenge.content %></li>
    <% end %>
    </ul>