<% if logged_in? %>
<%= @error %> 
<form action='/challenges' method='post'>
    <h1>Create Your Challenge:</h1>
    <input type='text' name='title' placeholder='Name your challenge'>
    <input type='text' name='content' placeholder='Describe the challenge here...'>
    <input type='submit' value='Save your challenge'>

    </form>

    <% else %>
    <h3> You must be logged in to create a challenge</h3>
    <% end %>
    
 