<h1>Review your challenge</h1>

<p><%= @challenge.content %></p>

<a href="/challenges/<%= @challenge.id %>/edit">Edit Challange</a>
<form method="POST" action="/challenges/<%= @challenge.id %>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Challenge">
    