<h1>Review your challenge</h1>

<h2><%= @challenge.title %></h2>
<p><%= @challenge.content %></p>

<a href="/challenges/<%= @challenge.id %>/edit">Edit Challenge</a>
    

    <form action="/challenges/<%= @challenge.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>

<a href="/challenges">Go back to index</a>
<a href="/logout">Logout</a>