<h1>Code Challenge Tracker App</h1>

<p> Are you working on a code challenge? Track it here in the app.</p>
<p> Signup or login below, then get tracking that code</p>
<a href="/signup">Signup</a>
<a href="/login">Login</a>